html {
  --primary: #e5e3db;
  --secondary: #3b4b46;
  --accent: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #e5e3db;
  --secondary: #3b4b46;
  --accent: #050505;
}

body {
  background-color: var(--primary);
}

main {
  padding: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}
/* ----------------------------HEADER / BURGERMENU---------------------------- */

.header {
  background-color: var(--primary);
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--primary);
}

.header li a {
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* ----------------------------FOOTER---------------------------- */

footer {
  background-color: var(--primary);
  padding: 1.5rem;
}

.footer_tekst {
  padding: 2rem 0 2rem 0;
  text-align: center;
}

#footer_overskrift {
  font-family: "josefin-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kontaktinfo {
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mail {
  text-decoration: underline;
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ----------------------------DESKTOP---------------------------- */

@media (min-width: 768px) {
  header {
    width: 100%;
    background-color: var(--primary);
    padding: 1.5rem;
  }

  #logo_mobil {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    max-width: 40%;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .menu a {
    max-width: fit-content;
    transition: all 0.3s ease 0s;
    color: #000000;
  }

  .menu a:hover {
    color: var(--accent);
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
    /*   padding: 43%; */
  }

  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .streg2 {
    border: 1px solid var(--accent);
    margin-top: 0.3rem;
  }

  .header .menu {
    clear: none;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
  #mig {
    width: 100%;
    align-self: stretch;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  /* skjuler desktop logo helt */
  #logo {
    display: none;
    visibility: hidden;
  }
  /* ######## Mobil logo styling ########## */

  img.logo-mobil {
    width: 30%;
  }
  div.logo-mobil-container {
    height: 110px;
  }

  .logodesk {
    display: none;
  }

  /* placering af logoet */
  a#logo_mobil.logo {
    margin: 0;
    display: flex;
    justify-content: left;
    padding: 1rem 0rem 0rem 1rem;
  }

  .mobil-streger-container {
    padding: 1rem;
  }
  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .mobil-streger-container {
    padding: 1rem;
  }
  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .streg2 {
    border: 1px solid var(--accent);
    margin-top: 0.3rem;
  }
}

/* ###### Se mine projekter container og knap  ###### */
/* ############################ Se mine projekter container og knap  ############################ */
div#semineprojekter {
  text-align: center;
}
button#projektKnap {
  background-color: transparent;
  border: none;
  width: 200px;
  height: 75px;
  background-image: url(/projektKnap_illustrator.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 11%;
}

div#seprojekt {
  text-align: center;
}
button#seprojektKnap {
  background-color: transparent;
  border: none;
  width: 200px;
  height: 75px;
  background-image: url(/projektKnap_illustrator.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15%;
}

.link-knap1 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}

.link-knap2 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}

.link-knap3 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}

.link-knap4 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
