* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary: #dfc6c6;
  --accent: #e34a6f;
}

body {
  background-color: var(--primary);
}

main {
  padding: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
/* ---------------------------- HEADER / BURGERMENU MOBIL VERSION---------------------------- */

.header {
  background-color: var(--primary);
  width: 100%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: var(--primary);
}

.header li a {
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.menu a:hover {
  color: var(--accent);
  font-family: "josefin-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #e34a6f;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* ----------------------------FOOTER---------------------------- */

footer {
  background-color: var(--primary);
  padding: 1.5rem;
  text-align: center;
}

.footer_tekst {
  padding: 2rem 0;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer_overskrift {
  font-family: "josefin-sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kontaktinfo {
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#mail {
  text-decoration: underline;
  font-family: "josefin-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* ---------------------------- MENU DESKTOP---------------------------- */

@media (min-width: 768px) {
  header {
    width: 100%;
    background-color: var(--primary);
    padding: 1.5rem;
  }

  #logo_mobil {
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav img {
    max-width: 40%;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
  }

  .menu a {
    max-width: fit-content;
    transition: all 0.3s ease 0s;
    color: #000000;
  }

  .menu a:hover {
    color: var(--accent);
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #e34a6f;
  }

  a {
    text-decoration: none;
    color: black;
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .streg2 {
    border: 1px solid var(--accent);
    margin-top: 0.3rem;
  }

  .header .menu {
    clear: none;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
  #mig {
    width: 100%;
    align-self: stretch;
    object-fit: cover;
    border-radius: 0;
  }
  #forsidebillede {
    margin-left: 90px;
    width: 80%;
  }
}
/* ######## Mobil logo styling ########## */

@media (max-width: 768px) {
  /* skjuler desktop logo helt */
  #logo {
    display: none;
    visibility: hidden;
  }

  img.logo-mobil {
    width: 30%;
  }
  div.logo-mobil-container {
    height: 110px;
  }

  .logodesk {
    display: none;
  }

  /* placering af logoet */
  a#logo_mobil.logo {
    margin: 0;
    display: flex;
    justify-content: left;
    padding: 1rem 0rem 0rem 1rem;
  }

  .mobil-streger-container {
    padding: 1rem;
  }
  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .mobil-streger-container {
    padding: 1rem;
  }
  .streg1 {
    border: 2px solid var(--accent);
    margin-top: 1rem;
  }

  .streg2 {
    border: 1px solid var(--accent);
    margin-top: 0.3rem;
  }
}

/* ###### Se mine projekter container og knap (forsiden) ###### */
div#semineprojekter {
  text-align: center;
  position: relative;
}

button#projektKnap {
  font-family: "josefin-sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  border: 3px solid #e34a6f;
  border-radius: 15px;
  width: 200px;
  height: 75px;
  background-color: #ffffff;
  margin-top: 10%;
  margin-bottom: 14%;
}

/* ###### Se tema projekt containere og knapper  ###### */
div#setema2,
.div#setema3 {
  text-align: center;
}
/* ######  se tema projekt knapper ###### */
button#tema2,
button#tema3,
button#tema4,
button#tema5 {
  font-family: "josefin-sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  border: 3px solid #e34a6f;
  border-radius: 15px;
  width: 200px;
  height: 75px;
  background-color: #ffffff;
  margin-top: 12%;
}

/* ######  Styling af tekster til alle temaer ###### */

.tema2-tekst,
.tema3-tekst,
.tema4-tekst,
.tema5-tekst {
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  text-align: center;
  margin: auto;
  line-height: 2rem;
  padding: 25px;
  margin-top: -36px;
}
/* ######  Styling af billeder til alle temaer ###### */
.tema2-grid,
.tema2-htmlfil,
.tema3-grid,
.tema3-htmlfil,
.tema3-styletile,
.tema3-moodboard,
.tema4-papirprototype,
.tema4-aktivitetsdiagram,
.tema4-statemachinediagram,
.tema4-javascript,
.tema5-github,
.tema5-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tema2 img,
.tema3 img,
.tema4 img,
.tema5 img {
  max-width: 100%;
  height: auto;
}
