body {
  background-color: #e5e3db;
}

h1 {
  font-size: 80px;
  text-align: center;
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 5%;
  color: #e34a6f;
}
h2 {
  font-size: 90px;
  text-align: center;
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 7%;
  color: #e34a6f;
}
h3 {
  font-size: 40px;
  text-align: center;
  font-family: "josefin-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0%;
}

.boks1 {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}
.boks2 {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}

.boks3 {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}
.boks4 {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}
.boks5 {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}
.boks6 {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 80px;
}
.tekst1 {
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}
.tekst2 {
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}
.tekst3 {
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}
.tekst4 {
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}
.tekst5 {
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}
.tekst6 {
  margin: 5rem;
  font-size: 18px;
  font-family: "josefin-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}

#overskrift {
  padding-bottom: 4rem;
  font-size: 150%;
}
#overskrift2 {
  padding-bottom: 4rem;
  font-size: 150%;
  margin-top: -2%;
}
#overskrift3 {
  padding-bottom: 4rem;
  font-size: 150%;
  margin-top: -2%;
}
#overskrift4 {
  padding-bottom: 4rem;
  font-size: 150%;
  margin-top: -2%;
}
#overskrift5 {
  padding-bottom: 4rem;
  font-size: 150%;
  margin-top: -2%;
}
#overskrift6 {
  padding-bottom: 5rem;
  padding-top: 5rem;
  font-size: 150%;
  margin-top: -2%;
}

.grid_1 {
  display: grid;
  justify-items: center;
  margin-top: 5%;
}
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}

@media (max-width: 768px) {
  .tekst1,
  .tekst2,
  .tekst3,
  .tekst4 {
    margin: 1rem;
    font-size: 16px;
  }

  .grid_1-1 {
    grid-template-columns: 1fr;
  }

  .boks1,
  .boks2,
  .boks3,
  .boks4 {
    margin-bottom: 40px;
  }
  a {
    text-decoration: none;
    color: black;
    font-family: "josefin-sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 7%;
  }
  h1 {
    line-height: 2rem;
    font-size: 24px;
  }

  h2,
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
    line-height: 1.5rem;
  }
  #overskrift {
    padding-bottom: 2rem;
  }
  #overskrift2 {
    padding-bottom: 2rem;
    margin-top: 5%;
  }
  #overskrift3 {
    padding-bottom: 2rem;
    margin-top: 5%;
  }
  #overskrift4 {
    padding-bottom: 2rem;
    margin-top: 5%;
  }
  #overskrift5 {
    padding-bottom: 2rem;
  }
  #overskrift6 {
    padding-bottom: 2rem;
  }
}
